<pre>{{ previousMonth() }}</pre>
<mat-tab-group class="h-full" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Tab 1">
    <ng-template matTabContent>
      <ag-grid-angular
        class="ag-theme-material-dark h-full w-full"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [columnDefs]="columns"
        [rowData]="data"
      />
    </ng-template>
  </mat-tab>
  <mat-tab label="Tab 2">
    <ng-template matTabContent>
      <ag-grid-angular
        class="ag-theme-material-dark h-full w-full"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [columnDefs]="columns"
        [rowData]="data"
      />
    </ng-template>
  </mat-tab>
</mat-tab-group>
